@model List<Patient>

@section title {
    <h3>Patients</h3>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Assigned Doctor</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Age</th>
                <th>Owner Info</th>
                <th>Diagnosis</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@(patient.Doctor != null ? patient.Doctor.Name : "Not Assigned")</td>
                    <td>@patient.PatientName</td>
                    <td>@patient.Breed</td>
                    <td>@patient.Age</td>
                    <td>@patient.OwnerInfo</td>
                    <td>@patient.Diagnosis</td>
                    <td><a class="btn btn-link" asp-controller="patients" asp-action="edit" asp-route-id="@patient.PatientId">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="patients" asp-action="delete" asp-route-id="@patient.PatientId" onclick="return confirmDelete()">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<a class="btn btn-primary" asp-controller="patients" asp-action="add">Add</a>
@section Scripts {
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this patient?");
        }
    </script>
}
