@model List<Room>

@section title {
    <h2>Rooms</h2>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>@VetClinic.Resources.Resource.RoomNumber</th>
                <th>@VetClinic.Resources.Resource.Type</th>
                <th>@VetClinic.Resources.Resource.Status</th>
                <th>@VetClinic.Resources.Resource.Description</th>
                <th>@VetClinic.Resources.Resource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td class="align-middle text-center">@room.RoomNumber</td>
                    <td class="align-middle text-center">@room.Type</td>
                    <td class="align-middle text-center">@(room.IsOccupied ? "Occupied" : "Not occupied")</td>
                    <td class="align-middle text-center">@room.Description</td>
                    <td class="align-middle text-center">
                        <a class="btn" asp-controller="rooms" asp-action="edit" asp-route-id="@room.RoomId"><i class="bi bi-pencil-square"></i> @VetClinic.Resources.Resource.Edit</a>
                        <a class="btn" asp-controller="rooms" asp-action="delete" asp-route-id="@room.RoomId" onclick="return confirmDelete()"><i class="bi bi-trash"></i> @VetClinic.Resources.Resource.Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<a class="btn" asp-controller="rooms" asp-action="add"><i class="bi bi-plus-circle"></i> @VetClinic.Resources.Resource.AddRoom</a>

@section Scripts {
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this room?");
        }
    </script>
}
