@section title {
    <h1>@VetClinic.Resources.Resource.VetClinicManagementSystem</h1>
}

<div class="container mt-4">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.HasClaim("Position", "Admin"))
        {
            <a class="nav-link text-dark btn btn-light my-4 w-100" asp-controller="doctors" asp-action="index">
                <section id="doctors">
                    <h2 class="text-center">@VetClinic.Resources.Resource.ManageDoctors</h2>
                    <p class="lead text-center">@VetClinic.Resources.Resource.ViewAndManage</p>
                </section>
            </a>
        }

        @if (User.HasClaim("Position", "Admin") || User.HasClaim("Position", "Doctor"))
        {
            <a class="nav-link text-dark btn btn-light my-4 w-100" asp-controller="patients" asp-action="index">
                <section id="patients">
                    <h2 class="text-center">@VetClinic.Resources.Resource.ManagePatients</h2>
                    <p class="lead text-center">@VetClinic.Resources.Resource.KeepTrack</p>
                </section>
            </a>
        }

        @if (User.HasClaim("Position", "Admin"))
        {
            <a class="nav-link text-dark btn btn-light my-4 w-100" asp-controller="rooms" asp-action="index">
                <section id="rooms">
                    <h2 class="text-center">@VetClinic.Resources.Resource.ManageRooms</h2>
                    <p class="lead text-center">@VetClinic.Resources.Resource.CheckAvail</p>
                </section>
            </a>
        }

        @if (User.HasClaim("Position", "Admin") || User.HasClaim("Position", "Doctor"))
        {
            <a class="nav-link text-dark btn btn-light my-4 w-100" asp-controller="appointments" asp-action="index">
                <section id="appointments">
                    <h2 class="text-center">@VetClinic.Resources.Resource.ManageAppointments</h2>
                    <p class="lead text-center">@VetClinic.Resources.Resource.ScheduleView</p>
                </section>
            </a>
        }
    }
    else
    {
		<section class="slider">
			<div class="hero-slider">
				<div class="single-slider" style="background-image:url('img/slider2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Compassionate <span>Veterinary Care</span> That You Can <span>Trust!</span></h1>
									<p>We provide expert medical services for your pets, ensuring their health and well-being at every stage of life. </p>
									<div class="button">
										<a class=" btn btn-outline-primary my-2 my-sm-0" id="register" asp-area="Identity" asp-page="/Account/Register">
											<i class="bi bi-person-plus"></i> @VetClinic.Resources.Resource.Register
										</a>
										<a class="btn btn-outline-primary my-2 my-sm-0" id="login" asp-area="Identity" asp-page="/Account/Login">
											<i class="bi bi-box-arrow-in-right"></i> @VetClinic.Resources.Resource.Login
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="single-slider" style="background-image:url('img/slider.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Comprehensive <span>Pet Health</span> Services</h1>
									<p>From vaccinations to surgery, our dedicated team offers a full range of treatments tailored to your pet's needs.</p>
									<div class="button">
										<a class=" btn btn-outline-primary my-2 my-sm-0" id="register" asp-area="Identity" asp-page="/Account/Register">
											<i class="bi bi-person-plus"></i> @VetClinic.Resources.Resource.Register
										</a>
										<a class="btn btn-outline-primary my-2 my-sm-0" id="login" asp-area="Identity" asp-page="/Account/Login">
											<i class="bi bi-box-arrow-in-right"></i> @VetClinic.Resources.Resource.Login
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="single-slider" style="background-image:url('img/slider3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We cover <span>Emergency</span> &<span> Routine Check-ups</span></h1>
									<p>Available when you need us most—because your pet’s health is our priority. Book an appointment today! </p>
									<div class="button">
										<a class=" btn btn-outline-primary my-2 my-sm-0" id="register" asp-area="Identity" asp-page="/Account/Register">
											<i class="bi bi-person-plus"></i> @VetClinic.Resources.Resource.Register
										</a>
										<a class="btn btn-outline-primary my-2 my-sm-0" id="login" asp-area="Identity" asp-page="/Account/Login">
											<i class="bi bi-box-arrow-in-right"></i> @VetClinic.Resources.Resource.Login
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<h4>Emergency Cases</h4>
										<p>Urgent veterinary care when it matters most. Contact us for 24/7 emergency support.</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<h4>Doctors Timetable</h4>
										<p>Check our experienced veterinarians’ availability and book an appointment with ease.</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<h4>Opening Hours</h4>
										<ul class="time-sidual">
											<li class="day">Monday - Friday: <span>8.00 - 20.00</span></li>
											<li class="day">Saturday: <span>9.00 - 18.30</span></li>
											<li class="day">Monday - Thursday: <span>9.00 - 15.00</span></li>
										</ul>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You &amp; Your Pets</h2>
							<img src="img/section-img.png" alt="#">
							<p>We are here to care for your pets during convenient hours, if not available, our doctors can give some instant advice by phone </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-ambulance-cross"></i>
							</div>
							<h3>Emergency Help</h3>
							<p>Immediate medical attention for your pet’s urgent needs. We're just a call away!</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-medical-sign-alt"></i>
							</div>
							<h3>Enriched Pharmacy</h3>
							<p>We provide high-quality pet medications, supplements, and veterinary-approved products.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-stethoscope"></i>
							</div>
							<h3>Comprehensive Medical Treatment</h3>
							<p>From routine check-ups to advanced diagnostics, we ensure the best care for your pet.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
    }
</div>