@using Microsoft.AspNetCore.Identity
@using VetClinic.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@VetClinic.Resources.Resource.VetClinicManagementSystem</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/icofont.css">
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/datepicker.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/responsive.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vet Clinic</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mx-2">
                            <a class="nav-link text-muted"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Index">
                                <i class="bi bi-house-fill"></i> @VetClinic.Resources.Resource.Home
                            </a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.HasClaim("Position", "Admin"))
                            {
                                <li class="nav-item mx-2">
                                    <a class="nav-link text-muted"
                                       asp-area=""
                                       asp-controller="Doctors"
                                       asp-action="Index">
                                        <i class="bi bi-person-fill"></i> @VetClinic.Resources.Resource.Doctors
                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link text-muted"
                                       asp-area=""
                                       asp-controller="Patients"
                                       asp-action="Index">
                                        <i class="bi bi-bug-fill"></i> @VetClinic.Resources.Resource.Patients
                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link text-muted"
                                       asp-area=""
                                       asp-controller="Rooms"
                                       asp-action="Index">
                                        <i class="bi bi-door-closed-fill"></i> @VetClinic.Resources.Resource.Rooms
                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link text-muted"
                                       asp-area=""
                                       asp-controller="Appointments"
                                       asp-action="Index">
                                        <i class="bi bi-file-earmark-medical-fill"></i> @VetClinic.Resources.Resource.Appointments
                                    </a>
                                </li>
                            }

                            @if (User.HasClaim("Position", "Doctor"))
                            {
                                <li class="nav-item mx-2">
                                    <a class="nav-link text-muted"
                                       asp-area=""
                                       asp-controller="Patients"
                                       asp-action="Index">
                                        <i class="bi bi-bug-fill"></i> @VetClinic.Resources.Resource.Patients
                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link text-muted"
                                       asp-area=""
                                       asp-controller="Appointments"
                                       asp-action="Index">
                                        <i class="bi bi-file-earmark-medical-fill"></i> @VetClinic.Resources.Resource.Appointments
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        @if (Thread.CurrentThread.CurrentCulture.ToString() == "en")
                        {
                            <span>English</span>
                        }
                        else
                        {
                            <span>Polski</span>
                        }
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="ChangeLanguage"
                               asp-route-lang="en">
                                English
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="ChangeLanguage"
                               asp-route-lang="pl">
                                Polish
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="pb-3">
            @RenderSection("title", false)
            <hr />
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/colors.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/slicknav.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/niceselect.js"></script>
    <script src="~/js/tilt.jquery.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/steller.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<br/>
<footer id="footer" class="footer ">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>About Us</h2>
                        <p>We are here to care for your pets during convenient hours. Whether it's a wellness visit or an urgent concern, our team is ready to assist your furry friends.</p>
                        <ul class="social">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Quick Links</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Procedures</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Staff</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Pet Advice</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Payments</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Reviews</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Opening Hours</h2>
                        <ul class="time-sidual">
                            <li class="day">Monday - Friday <span>8.00-20.00</span></li>
                            <li class="day">Saturday <span>9.00-18.30</span></li>
                            <li class="day">Monday - Thursday <span>9.00-15.00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="copyright-content">
                        <p>&copy; 2025 Vet Clinic - Vet Clinic Management System.</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>
